html {
  overflow: hidden;
  height:100vh;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: -1000;
  transition: background-image 5s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
  color: white;
  visibility: hidden;
}

.App {
  transition: background-image 2s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#news {
  padding-top: 10%;
  color: white;
  font-size: 150%;
  transition: all 2s ease-in-out;
  text-shadow: 1px 1px black;
  width: 80%;
}

#clockWeather {
  display: flex;
  width: 100%;
  text-shadow: 1px 1px black;
  position: absolute;
  top: 0;
}

#clock {
  align-self: flex-start;
  padding-top: 2%;
  padding-left: 3%;
}

#weather {
  padding-right: 3%;
  padding-top: 3%;
}

#time {
  font-size: 1000%;
}

.title {
  color: white;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

#abstract {
  font-size: 80%;
}

.fa-spinner {
  color:white;
}

#weatherBox {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}


#weatherImage {
  display: flex;
  font-size: 500%;
  align-items: center;
}

#temp {
  margin-left: 5%;
}

.weatherInfo {
  font-size: 200%;
}

#time {
  color: white;
  font-family: 'Roboto', sans-serif;
}

#cal {
  position: absolute;
  bottom: 10%;
  left: 40%;
  width: 20%;
}

.weekday {
  color: white;
  height: 100%;
  border-left: 3px solid white;
  width: 12%;
  padding: 1%;
  padding-top: 0;
  text-shadow: 1px 1px grey;
}

.weekEvents {
  font-size: 1.2vw;
}

.dateDay {
  text-align: left;
  font-size: 2vw;
}

.dateWeekday {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid white;
  margin-bottom: 3%;
}

.weekDayTitle {
  text-align: center;
  font-size: 1.3vw;
}

#week {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 25%;
  margin-top: 5%;
}

.weekday:last-child {
  border-right: 3px solid white;
}

.googleButton {
  display: none;
}

#settings {
  position: fixed;
  color: white;
  left: 3%;
  bottom: 2%;
  z-index: 50;
  user-select: none;
}

#settings:hover {
  color:grey;
  text-shadow: 1px 1px 3px black;
  cursor: pointer;
}

#settings:hover [data-shown="shown"]{
  display: block;
}

#settings:hover #settingsList {
  display: block;
}


#settingsList {
  display: none;
  background-color: white;
  color: black;
  width: 150%;
  box-shadow: 1px 1px 5px black;
  border: 1px solid black;
}

.settingsListObject {
  text-shadow: none;
  text-align: center;
  padding: 10px;
}

.settingsListObject:hover {
  background-color: darkgray;
}

#weather {
  margin-left: auto;
}